@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: "Inter";
}

.rubik {
  font-family: "Rubik";
}

.rubik-glitch-pop {
  font-family: "Rubik Glitch Pop";
}

* {
  cursor: none;
}
